<mat-toolbar color="primary" class="mat-elevation-z6 demo-panel">
  <span><mat-icon>api</mat-icon>Genesys Publisher</span>

  <div class="spacer">

  </div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="callforpaper">Call for paper</a>
  <a mat-button routerLink="papersubmission">Paper Submission</a>
  <a mat-button routerLink="indexing">Indexing</a>
  <a mat-button routerLink="ssrgjournals">SSRG Journals</a>
  <a mat-button routerLink="editorialboard">Editorial Board</a>
  <a mat-raised-button color="accent" routerLink="contactus">Contact us</a>
</mat-toolbar>
